/*               Estilos Generales            */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

/*           Estilos Body            */
body {
  color: black;
  background-color: white;
  font-size: clamp(0.9rem, 4vw, 1.5rem); }

/*         Menu         */
#gridArea {
  display: grid;
  grid-template-areas: "header" "texto_e_imagenes" "footer";
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  row-gap: 1%; }
  #gridArea .header {
    grid-area: header; }
  #gridArea .beatlesNav {
    display: flex;
    width: 100%; }
  #gridArea .logo {
    width: 30%;
    margin-left: 10%;
    height: 10vh; }
  #gridArea .imgLogo {
    width: 100%; }
  #gridArea .linksNav {
    margin-top: 10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly; }

/*         Texto e Imagenes        */
#texto_e_imagenes {
  grid-area: texto_e_imagenes; }
  #texto_e_imagenes h1, #texto_e_imagenes h2, #texto_e_imagenes h3, #texto_e_imagenes h4, #texto_e_imagenes h5 {
    font-size: clamp(0.9rem, 4vw, 1.5rem); }
  #texto_e_imagenes .imgLennon {
    width: 25%; }
  #texto_e_imagenes .imgPaulMccartney {
    width: 25%; }
  #texto_e_imagenes .imgHarrison {
    width: 25%; }
  #texto_e_imagenes .imgRingo {
    width: 25%; }

/*                Footer             */
footer {
  grid-area: footer;
  text-align: center; }
  footer .footerFacebook {
    width: 5%; }
  footer .footerInstagram {
    width: 5%; }
  footer .footerSpotify {
    width: 5%; }
  footer .footerTwitter {
    width: 5%; }
  footer .footerYoutube {
    width: 5%; }
  footer .footerGmail {
    width: 5%; }

/*            Media Queries              */
/* Celular */
@media only screen and (max-width: 480px) {
  body {
    background-color: tomato; }
  .beatlesNav {
    flex-direction: column; }
  .linksNav {
    flex-direction: column;
    align-items: center; } }

/* Tablet */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  body {
    background-color: turquoise; } }

/* Desktop */
@media only screen and (min-width: 1024px) {
  body {
    background-color: white; } }
