/*                Footer             */ 
footer{
    height: auto;
    grid-area: footer;
    text-align: center;
    
    h1{
       font-size: 3rem;
       font-weight: 700;
    }
    
    .footerFacebook{
        width: 4%;
    }
    .footerInstagram{
        width: 4%;
    }
    .footerSpotify{
        width: 4%;
    }
    .footerTwitter{
        width: 4%;
    }
    .footerYoutube{
        width: 5%;
    }
    .footerGmail{
        width: 5%;
    }
}