
/*            Media Queries              */

              /* Celular */
              @media only screen and (max-width: 480px){
                body{
              background-color: tomato;
              }
              .beatlesNav{
                  flex-direction: column;
              }
              .linksNav{
                  flex-direction: column;
                  align-items: center;
              }
              .columnaIzquierda, .columnaDerecha{
                width: 100%;
                padding: 0;
              }
          }
                        /* Tablet */
          @media only screen and (min-width: 481px) and (max-width: 1023px){
              body{
                  background-color: turquoise;
              }
              .columnaIzquierda, .columnaDerecha{
                width: 100%;
                padding: 0;
              }
              
          }
                      /* Desktop */
          @media only screen and (min-width: 1024px){
              body{
                  background-color: white;
              }
          }