/*         Texto e Imagenes        */ 
#texto_e_imagenes{
    grid-area: texto_e_imagenes;
    
h1,h2,h3,h4,h5{
        font-size: clamp(0.9rem, 4vw, 1.5rem);
    }
    .imgLennon{
        width: 25%;
    }
    .imgPaulMccartney{
        width: 25%;
    }
    .imgHarrison{
        width: 25%;
    }
    .imgRingo{
        width: 25%;
    }
}