/*         Texto e Imagenes        */ 
#texto_e_imagenes{
    grid-area: texto_e_imagenes;
    
h1,h5{
    color: $colorTitulos;
    font-family: $fuenteMenu;
    font-size: clamp(0.9rem, 4vw, 1.5rem);
    text-align: center;
    }
    .imgLennon{
        width: 100%;
    }
    
}

/*             Productos           */

#productsList{
    grid-area: texto_e_imagenes;
    h1,h2,h3,h4{
        color: $colorTitulos;
        font-family: $fuenteMenu;
        font-size: clamp(0.9rem, 4vw, 1.5rem);
        align-items: center;
    }
}


  